<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .flex-container {
            display: flex;
        }

        .flex-child {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .flex-child:first-child {
            margin-right: 20px;
        }

        .flex-child>textarea {
            flex: 1;
        }
    </style>
</head>

<body>
<div class="flex-container">
    <form class="flex-child left" method="POST">
        <h2>Original text</h2>
        <textarea rows="20" name="text"></textarea>
        <button type="submit">Format</button>
    </form>
    <div class="flex-child right">
        <h2>Formatted text</h2>
        <textarea rows="20"></textarea>
    </div>
</div>
</body>

</html>